
    #resume {
      display: grid;
      border-top: 2px solid black;
      grid-template-columns: 30% 60%;
      margin: auto auto auto auto;
      width: 100%;
      
    }

    #row1 {
      background-color: rgb(33, 33, 167);
      color: white;
      min-height: 700px;
      border-right: 2px solid black;
    }
    #name{
      font-size: 50px;
      margin: 20px auto 0px auto;
      text-align: center;
      min-height: 120px;
      margin-bottom: auto;
    }
    #row1 h1{
      font-size: 30px;
    } 
    .rowdata {
      font-size: 17px;
      margin: 0px 1.5vw 0px 1.5vw;
      height: 25%;
    }

    #contact div {
      margin-top: 1.5vw;
    }

    #row2 {
      background-color: white;
      color: black;
    }
    .details{
      text-align: center;
    }
    
    #info div{
      display: grid;
      grid-template-columns: max-content max-content;
    }
    .details{
      min-height: 233px;
      align-items: center;
    }
    .details div{
      font-size: 35px;
    }
    @media screen and (max-width: 800px) {
      #resume{
        position: absolute;
        margin-top: 25px;
        min-width: 600px;
      }
     }

     @media print {
      #resume{
        width: 700px !important;
        -webkit-print-color-adjust: exact !important;
      }
    }